html {
  height: 100%;
  overflow-y: hidden;
}

body,
#root,
#app {
  height: 100%;
  position: relative;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}


.stream-canvas.show {
  display: block;
  padding: 10px 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.stream-canvas.hide {
  display: none;
}

.stream-canvas-header > div {
  display: inline-block;
}

.header-text {
  font-size: 1.5em;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.stream-canvas-controls  {
  margin-left: 15px;
}

.stream-container {
  width: 50%;
  display: inline-block;
}

.stream-container:hover .player-controls {
  display: block;
}

.player-controls {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  bottom: 12px;
  left: 46%;
/*  display: none;*/
}

.player-controls > div {
  position: relative;
  display: inline-block;
}

.player-controls .fa-commenting {
  color: white;
  font-size: 125%;
  padding: 4px 4px;
}

.player-controls .fa-commenting:hover {
  cursor: pointer;
  color: #b2a0d2;
}

.player-controls .fa-commenting:hover + .fa-commenting-text {
  display: inline;
}

.player-controls .fa-commenting-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  z-index: 10;
  font-size: 11px;
  color: white;
  left: -4.5%;
  bottom: 38px;
  background-color: rgba(0,0,0,0.7);
  padding: 4px 5px;
  white-space: nowrap;
  display: none;
}

.vid {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  left:0;
  top:0;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.vid iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.list-results {
  height: 100%;
  padding: 0 10px;
}

.list-show {
  height: 190px;
    transition: all .3s;
}

.list-hide {
  height: 0;
    transition: all .3s;
}

.search-results {
  position: absolute;
  width: 100%;
  height: 210px;
  padding-left: 240px;
  padding-right: 320px;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 10px 10px 28px -8px black;
  z-index: 5000;
  transition: all .15s;
}

.search-results-close {
  width: 0%;
  padding-left: 0;
  padding-right: 0;
  transition: all .15s;
}

.streams-list > ul {
  height: 100%;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.streams-list > ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 10px 15px;
  text-overflow: ellipsis;
  width: 200px;
  cursor: pointer;
}

.stream-image {
  width: 200px;
}

.stream-info {
  font-size: 12px;
}

.stream-status,
.stream-channel {
  line-height: 1em;
  margin: 7px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#games-list > ul {
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

#games-list > ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 10px 15px;
  text-overflow: ellipsis;
  width: 90px;
  cursor: pointer;
}

#games-list a, 
#games-list a:visited, 
#games-list a:hover, 
#games-list a:active {  
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.game-image {
  width: 90px;
  margin-bottom: 5px;
}

.game-title {
  font-size: 10px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


#history-list .history-item {
  width: 150px;
  cursor: default;
}

.history-item > div > .channel-logo {
  width: 6em;
  border: 1px solid black
}

.history-item > div > p {
  font-size: 12px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} 

.display-message {
  text-align: center;
  margin-top: 9%;
}

.list-toggle {
  color: white;
  padding-top: 5px;
  width: 100%;
  height: 15px;
}

.list-toggle > div {
  text-align: center;
  width: 100%;
  height: 20px;
  background-color: black;
}

.list-toggle > div:hover {
  background-color: #5f4d92;
  cursor: pointer;
}

#main-col {
  margin-left: 240px;
  margin-right: 320px;
  padding: 0 25px;
  height: 100%;
}

#nav-col {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  z-index: 10000;
  background-color: #3a2c55;
}

#nav-col > h1 {
  text-align: center;
  color: white;
}

#user-wrapper {
  box-sizing: border-box;
  height: 65px;
  color: white;
  background-color: #30264d;
  padding: 10px 0;
  margin-bottom: 10px;
  border-top: 1px solid #5c42a5;
  border-bottom: 1px solid #5c42a5;
}

#user {
  margin-left: 20px;
}

.twitch-connect {
  margin-left: 14%;
  margin-top: 2%;
}

.profile-logo {
  width: 40px;
  margin-right: 8px;
  vertical-align: top;
  border: 1px solid grey;
}

.user-info {
  font-size: 13px;
  display: inline-block;
  margin-top: 2px;
}

.logout-btn {
  display: block;
  margin-top: 4px;
  font-size: 10px;
  cursor: pointer;
  color: black;
 /* background-color: #1d1338;*/
}

.fa-sign-out {
  margin-right: 5px;
}

#search {
  position: relative;
  margin-left: 20px;
}

.fa.fa-search {
  position: absolute;
  font-size: 14px;
  color: #dddddd;
  background-color: #1d1338;
  height: 21px;
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 10px;
  border: 1px solid #583aaa;
  border-right: none;
  transition: border .3s;
}

.fa.fa-search.search-focus {
  border: 1px solid #7a63b8;
  border-right: none;
  outline: none;
  transition: border .3s;
}

#search > input {
  color: #dddddd;
  background-color: #1d1338;
  height: 25px;
  width: 164px;
  padding-left: 35px;
  border: 1px solid #583aaa;
  border-left: none;
  transition: border .3s;
}

#search > input:focus {
  border: 1px solid #7a63b8;
  border-left: none;
  outline: none;
  transition: border .3s;
}


.nav-list {
  margin: 20px 0;
}

#nav-menu {

}

#nav-menu > ul,
#nav-channels > ul {
  padding: 0;
}

#nav-menu > ul >  li {
  font-size: 15px;
  list-style-type: none;
  color: white;
  transition: background-color .5s;
}

#nav-menu > ul > a >  li.active,
#nav-menu > ul > li:hover,
#nav-channels > ul > li.active,
#nav-channels > ul > li:hover {
  cursor: pointer;
  background-color: #614b88;
}

#nav-menu a, 
#nav-menu a:visited, 
#nav-menu a:hover, 
#nav-menu a:active {  
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

#nav-menu > ul > li > a > i,
#nav-channels > ul > li > i {
  margin-right: 15px;
  width: 15px;
}

.nav-header > i {
  float: right;
  width: 15px;
  opacity: 0.5;
  cursor: pointer;
}

.nav-header > i:hover {
  opacity: 1.0;
}

#nav-channels > ul > li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  box-sizing: border-box;
  color: white;
  list-style-type: none;
  cursor: pointer;
  transition: background-color .5s;
}

.nav-header {
  color: white;
  padding: 0 20px;
  font-size: 14px;
}

.nav-header hr {

}

#chat-col {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 320px;
/*  border: 1px solid grey;*/
  z-index: 10000;
}

.chat {
  display: none;
  height: calc(100% - 30px);
  width: 100%;
  box-sizing: border-box;
  border-left: 1px solid grey;
}

select {
  font-size: 14px;
  width: 100%;
  height: 30px;
}

.chat-selected {
  display: block;
}

.empty-chat {
  background-color: lightgrey;
  box-sizing: border-box;
  border: 3px dotted black;
  border-radius: 1%;
  height: 100%;
  width: 100%;
}

.chat-instructions {
  text-align: center;
  font-size: 20px;
  line-height: 2em;
  color: grey;
}

.fa.nav-toggle {
  font-size: 20px;
  position: absolute;
  left: 241px;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 0.5;
}

.fa.nav-toggle-close {
  left: 5px;
}

.fa.chat-toggle {
  font-size: 20px;
  position: absolute;
  right: 322px;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 0.5;
}

.fa.chat-toggle-close {
  right: 3px;
}

.nav-toggle:hover,
.chat-toggle:hover {
  opacity: 1.0;
  background-color: #b2a0d2;
}

.chat-open,
.nav-open {
  display: block;
}

.chat-close,
.nav-close {
  display: none;
}

.left-extend,
#main-col.left-extend {
  margin-left: 0;
}

.right-extend,
#main-col.right-extend {
  margin-right: 0;
}

#search-results.right-extend {
  padding-right: 0;
}

#addChannel.open {
  margin-left: 20px;
  display: block;
/*  transform: translateX(0%);
  transition: all .3s;*/
}

#addChannel.close {
  display: none;
/*  transform: translateX(-100%);
  transition: all .3s;*/
}

#addChannel button {
  margin: 5px 10px; 
}